
h1{color: orange;
	border: 127px green ;
	padding: 5px;

}
img{width: 300px;
	height: 300px;
	padding: 3;
	border: 3;
	border-radius: 127px;
	border: solid yellow;

}

body{background: black;}

P{color: yellow;
 font-size: 20px;}

 iframe{ border-radius:127px;
 	border: solid orange;}

 li{color: yellow;}
 button{
 	background: yellow;
 	width: 90px;
 }